[2018-02-03 09:01] Smurf-IV opened #1 "Request for a better "laid out" Command Button"
Something like this:
![image](https://user-images.githubusercontent.com/2418812/35765668-bfeb62c6-08c0-11e8-9617-962cc7578408.png)

Where both the text lines are "inline" with the picture.

As per https://github.com/Smurf-IV/Elucidate

[2018-02-03 09:02] Smurf-IV opened #2 "Request for a larger font MessageBox"
The Krypton MessageBox needs to have a "double font" option, so that it stands out more.

[2018-02-03 09:03] Smurf-IV opened #3 "Request for "Auto Time Out" MessageBox"
These are just useful !
Ideally apply this to all extension MessgeBox's

[2018-02-03 09:13] Smurf-IV opened #4 "Wrap (or replace) the FileOpen/FilePicker & Save control"
Would be nice if these controls also had the Krypton Theme applied.
Might be easier to perform a whole replacement (Like the MessageBox) rather than attempt a win32API hook !

https://www.dotnetperls.com/openfiledialog

Oh, and don't forget the FileSave :-)
http://www.c-sharpcorner.com/uploadfile/mahesh/savefiledialog-in-C-Sharp/

[2018-02-03 09:14] Smurf-IV opened #5 "Request to have different Text buttons in a MessageBox"
i.e. do they always have to have "Yes / No"! etc.

[2018-02-03 10:05] Smurf-IV commented on #4
![image](https://user-images.githubusercontent.com/2418812/35766127-c712709a-08c9-11e8-87e5-9893a377c66b.png)

[2018-02-03 10:46] Smurf-IV opened #6 "Once the FileOpen / Save is done, then make sure it works as "Good" folder browser"
Do Not wrap the crappy default Folder browser..
Revamp the file-Save and make it work as a folder browser..

See the following..
http://www.lyquidity.com/devblog/?p=136

[2018-02-03 10:48] Smurf-IV commented on #6
Don't forget the designer issues
https://www.aspsnippets.com/Handlers/DownloadFile.ashx?File=cab0e354-8ba5-4ef3-8017-af9890c432f7.png

[2018-02-03 10:58] Smurf-IV opened #7 "A MessageBox extension that allows "Further Details" to be shown"
Press a button, and a slide down panel will be shown with "Application" extended more info style..
Could be an RTF control.
Will still need to Ctrl+C compatible.

[2018-02-03 12:51] Wagnerp commented on #5
There is some code hosted on codeproject that extends the messagebox to include 'Do not show me again' checkbox and a progressbar to time out. I can work on it to use krypton assets.

[2018-02-03 12:53] Wagnerp commented on #3
See my response to 'Request to have different Text buttons in a MessageBox'

[2018-02-03 12:54] Wagnerp commented on #2
Should be easy enough.

[2018-02-03 13:00] Wagnerp opened #8 "Repository of links"
https://www.codeproject.com/Articles/13123/MessageBoxManager-A-Windows-Forms-component-that-p

https://www.codeproject.com/Articles/19865/How-to-extend-the-native-MessageBox-dialog-in-NET

https://www.codeproject.com/Articles/9656/Dissecting-the-MessageBox?q=messagebox+extended

https://www.codeproject.com/Articles/454307/A-versatile-MessageBox-replacement

[2018-02-03 13:06] Wagnerp opened #9 "A good way of referencing Krypton DLLs"
Have a good way of maintaining/updating DLLs from Krypton-NET-4.7 builds

[2018-02-03 18:04] Wagnerp opened #10 "Palettes"
Found source code for creating custom palettes on codeplex.

[paletteselectors.zip](https://github.com/Wagnerp/Krypton-Toolkit-Suite-Extended-NET-4.7/files/1692030/paletteselectors.zip)

[2018-02-03 18:06] Wagnerp commented on #10
And another...

[KryptonPalComposer.zip](https://github.com/Wagnerp/Krypton-Toolkit-Suite-Extended-NET-4.7/files/1692032/KryptonPalComposer.zip)

[2018-02-03 21:17] Smurf-IV commented on #9
nuget; via the Package manager, Already built into the IDE via solution arguments.

[2018-02-03 21:19] Smurf-IV commented on #10
Isn't it already in the Krypton Suite ... https://github.com/Wagnerp/Krypton-NET-4.7/tree/master/Source/Palette%20Designer

[2018-02-04 07:35] Wagnerp commented on #9
I would use nuget, but I'm getting a strange error while installing it

'Severity	Code	Description	Project	File	Line	Suppression State
Error		Could not install package 'KryptonToolkitSuite47 4.70.546'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.7', but the package does not contain any assembly references or content files that are compatible with th

[2018-02-04 07:37] Wagnerp commented on #10
Ahh yes.

[2018-02-04 07:41] Wagnerp opened #11 "Custom icon for message boxes"
Have a custom icon for message boxes, along with defaults, i.e error, warning, info etc and custom.

[2018-02-05 09:55] Wagnerp commented on #7
https://github.com/Nexus-Mods/Nexus-Mod-Manager/blob/master/UI/Controls/ExtendedMessageBox.cs

[2018-02-05 16:57] Smurf-IV commented on #7
Not allow4ed to use that code due to "GNU General Public License v2.0"

[2018-02-05 17:53] Wagnerp commented on #7
Ahh ok, I'm trying to create the message boxes using winforms. Message boxes with 'extra details' may require new controls to be written. I have been trying to find some controls to use, but haven't found any yet. Also, how big should the message box icon be (in pixels), as I intend users to have the option to set a custom one alongside default ones, any thoughts?

[2018-02-05 19:02] Wagnerp opened #12 "New messagebox icons"
Possibly need to find new/suitable icons for messageboxes. CC license maybe?

[2018-02-05 20:32] Smurf-IV commented on #7
Have a look at the KryptonMessageBox code as the start point.
Also the WPF Message has prettier (relative) and slightly larger icons.

[2018-02-05 20:39] Smurf-IV commented on #12
https://www.1001freedownloads.com/free-icon/symbol-error

[2018-02-06 08:09] Wagnerp commented on #7
Yes I have extracted the code as a reference point. I'm going to look into how best to do a timeout function, a progress bar might be a nice feature here, possibly attached to a bool argument to toggle viability of it?

[2018-02-08 08:46] Wagnerp opened #13 "New control colours"
See **[here](https://sourceforge.net/projects/xbutton/)** for examples.

[2018-02-10 13:16] Smurf-IV commented on #7
Most of these messageBox enhancements could be covered as a subset of a "Task Dialog"
https://www.developerfusion.com/article/71793/windows-7-task-dialogs/
I think once the CommandLink button is sorted then the above would be able to do the rest of the MessageBox things.

[2018-02-11 07:55] Wagnerp commented on #7
I do have a Windows API Code Pack Nuget package already available if this helps.

[2018-02-11 08:08] Smurf-IV commented on #7
I have a `CommandLink C# Button` already in my projects "https://github.com/Smurf-IV/Elucidate/tree/master/Elucidate/Elucidate/Shared"
It just need to be put into "Krypton Language" so that the layout is corrected.
You can assign that request to me if you like.

[2018-02-13 13:53] Smurf-IV opened #14 "Request: A Themed Tooltip (BalloonTip) Popup"
So it appears that there is already tooltips within Krypton Components (Used on Extension buttons and Navigator Tab areas), it's just a "Normal" component that can be added to All Form Elements!

[2018-02-13 20:13] Smurf-IV commented on #8
ToolTip / BalloonTip Links:
https://help.syncfusion.com/windowsforms/supertooltip/supertooltip

https://www.codeproject.com/Articles/98967/A-ToolTip-with-Title-Multiline-Contents-and-Image

https://www.grapecity.com/en/controls/winforms/supertooltip

https://www.codeproject.com/Articles/31411/VS-Style-Tooltips-and-A-Whole-Lot-More

http://www.c-sharpcorner.com/UploadFile/deepak.sharma00/how-to-sho

[2018-02-21 08:04] Wagnerp commented on #8
Enhanced progress bar

https://www.codeproject.com/Articles/31406/Add-the-Percent-or-Any-Text-into-a-Standard-Progre

https://www.codeproject.com/Articles/48419/A-simple-custom-progressbar

https://www.codeproject.com/Articles/29457/TSmartProgressBar-A-Smart-C-ProgressBar-with-Perce

https://www.codeproject.com/Articles/1082902/How-to-Paint-on-Top-of-a-ProgressBar-using-Csharp

https://www.codepro

[2018-02-21 09:50] Wagnerp commented on #8
https://github.com/Behzadkhosravifar/BlurMessageBox

[2018-02-21 09:55] Wagnerp commented on #8
In Chinese: https://github.com/ahdung/MessageBoxEx

[2018-02-24 07:13] Wagnerp opened #15 "A Krypton wizard control"
This, but using Krypton controls

![image](https://user-images.githubusercontent.com/949607/36626857-33e462f0-1932-11e8-81a7-07fb9be341b7.png)

[2018-02-24 07:15] Wagnerp opened #16 "A UAC shield Krypton button"
Self explanatory

[2018-02-24 16:53] #16 closed

[2018-02-25 09:01] Smurf-IV commented on #15
Needs the `CommandLink Button`

[2018-02-25 10:29] Wagnerp commented on #15
Will work on it ASAP. Have also implemented new methods to elevate the running application into admin mode. May need to find a way to link this method to the new UAC controls.

[2018-02-25 18:48] Wagnerp commented on #8
https://blogs.msdn.microsoft.com/knom/2007/03/12/vista-command-link-control-with-c-windows-forms/

[2018-02-27 17:36] Wagnerp opened #17 "An MRU File option"
Speaks for itself, add to a standard menu strip, and possibly context menus.

[2018-02-27 17:54] Wagnerp commented on #8
https://www.codeproject.com/Articles/1020671/MRU-File-Manager-Component

[2018-03-06 09:42] Wagnerp opened #18 "Application Updater"
A generic application updater using toolkit controls and XML files.

[2018-03-06 09:45] Wagnerp commented on #18
Could use either wizard control (when implemented) or standard winform.

[2018-03-13 17:55] #17 closed

[2018-03-20 18:58] Wagnerp opened #19 "Auto complete menu"
A Kryptonised version of this: https://www.codeproject.com/Articles/365974/Autocomplete-Menu

[2018-03-28 08:14] Smurf-IV commented on #12
Each version of Visual studio comes with a separate _free re-useable_ downloadable icon / image pack.
The one with most images is the "VS2015 Image Library"

[2018-03-28 08:30] Wagnerp commented on #12
Found it, good to know thanks.

[2018-03-28 08:46] Smurf-IV opened #20 "Cannot build from downloaded zip file"
e.g. ComponentFactory
Microsoft.WindowsAPICodePack

Use of "Nuget package restore"  did not pull down external requirements, or put more into "Required" directory and not use hard-coded reference paths

[2018-03-28 10:59] Wagnerp commented on #20
Yes, sure I'll upload a new zip file now. I'm not managing the Krypton Nuget packages anymore, as there's a weird bug whereby even though you target the project to use .NET 4.7, it wont download the DLLs, that explains the hard coded paths. I would like to use Nuget (if it actually works!).

[2018-04-09 18:34] Wagnerp opened #21 "Might have found a solution for custom file dialogues"
http://gong-shell.sourceforge.net/

[2018-04-11 06:46] Smurf-IV commented on #21
The Gong Solutions Shell Library is licenced under the LGPL.
So `no` plagerizing or derivatives.. there are lot's of other solution like this via codeproject etc.

[2018-04-11 07:06] Wagnerp commented on #21
Need a good winshell alternative, have already got a breadcrumb bar in the existing toolkit.

[2018-04-13 14:00] Smurf-IV opened #22 "Can "We" have a slider ON/OFF control - with theming ?"
Like this:
https://stackoverflow.com/questions/8176212/create-animated-button

As per the
https://visualstudioproductteam.gallerycdn.vsassets.io/extensions/visualstudioproductteam/productivitypowertools2012/11.0.60403.0/1482138274609/88411/1/ToolsOptionsSupport.png

And / Or

- https://www.codeproject.com/Articles/1029499/ToggleSwitch-Winforms-Control
- https://www.codeproject.com/Articles/1215232

[2018-04-13 14:18] Smurf-IV commented on #13
Have a look at the Winforms animation on Codeproject, so that those controls could use WPF animation for mouse overs etc.

[2018-05-16 17:38] Wagnerp opened #24 "A new context menu"
A context menu like the Office 2007+ one.

[2018-05-17 15:01] Smurf-IV commented on #24
Image ?

[2018-05-17 15:29] Wagnerp commented on #24
This is the 2016 version

![image](https://user-images.githubusercontent.com/949607/40187425-5f2347f8-59ef-11e8-806e-5df48fde87d0.png)

[2018-05-21 18:37] Wagnerp commented on #10
Bingo! I've finally worked out how to change colours! Any suggestions?

[2018-05-22 10:59] Wagnerp opened #25 "New Palette Ideas"

[2018-05-22 17:45] Wagnerp commented on #25
![capture](https://user-images.githubusercontent.com/949607/40380190-340b4962-5df0-11e8-94eb-0932fc712e35.PNG)

![green hover](https://user-images.githubusercontent.com/949607/40380198-3ecb99ec-5df0-11e8-8eb4-ae8af648c23f.png)
![green normal](https://user-images.githubusercontent.com/949607/40380199-3ee6d766-5df0-11e8-9555-590b05315da6.png)
![green pressed](https://user-images.githubusercontent.co

[2018-05-24 06:56] Wagnerp opened #26 "Easier palette load in"
Make it easier to import user generated palettes

[2018-05-26 09:05] Wagnerp opened #27 "Proposal for a new theme file extension"
Since we know how the palette creator works, I'm developing a extended version with much needed features i.e shortcut keys and a UI redesign. In the process should we create a new theme file extension, i.e `*.kpalette` or `*.themex` which will still be XML based instead of using `*.xml`?

[2018-05-27 10:28] Wagnerp commented on #22
Working on it now.

[2018-06-01 13:02] fdncred opened #28 "Status Strip Feature Request"
Please add the ability to change the color of each individual item in the status strip, to include foreground color, back ground color as well as StartGradient and EndGradient colors.

[2018-06-01 18:29] Wagnerp commented on #28
A version is now available, just need to implement the text colour.

[2018-06-01 19:20] fdncred commented on #28
Quick turn @Wagnerp, Thanks!.  Could you enable changing the text color aka ForeColor? Ideally it would work like this.

If (ForeColor != Color.Empty)
    draw the text in the color specified with the configured cleartext/antialiased properties.

If (BackColor != Color.Empty)
    draw the background using a solid brush.
else If (GradiantColorOne != Color.Empty || GradientColorTwo != Color.Empty)

[2018-06-06 08:39] #20 closed

[2018-06-06 08:40] #9 closed

[2018-06-11 15:45] Wagnerp commented on #28
I'll update the code. There is one bug, which I don't know exactly where it's coming from. The bug is creating a text ghosting effect. Will try your solution though.

[2018-06-11 15:52] fdncred commented on #28
I saw that too and noticed that the text wasn't aligned exactly the same way as the default renderer draws it. Thanks!

[2018-06-11 16:43] Wagnerp commented on #28
I think the `base.OnPaint()` call was the issue. Thanks for your suggestion.

[2018-06-11 16:48] fdncred commented on #28
Are you saying you got it to work? Because commenting that out only enabled the ForeColor - not the BackColor (assuming you're not trying to use the Gradient). Also, Did you figure out how to align the text because it was a little off on the left side when I tried it.

In the attached image the text on the Gradient background is supposed to be Red and the Third status items shows misaligned text w

[2018-06-11 16:56] Wagnerp commented on #28
I think so. Don't know about the alignment though. Might look into a possible `TextGlow` colour property to make the text stand out more.

[2018-06-11 18:10] Wagnerp opened #29 "Brand new colour controls"
i. e. Colour wheel etc.

https://github.com/cyotek/Cyotek.Windows.Forms.ColorPicker

[2018-06-13 17:00] fdncred commented on #28
I think I have it mostly working now. The problem is the background was drawing over the foreground. So I moved the DrawString last in the OnPaint() method.
[code]
And I'm not sure what TextGlow is supposed to do since there is nothing regarding it in the OnPaint and it's not calling the base. I figure Glow isn't doing anything at this point.

[2018-06-13 18:57] fdncred commented on #28
Now that the background is able to be changed one could do something like this to alert a user. This also works with Gradients.

![ss](https://user-images.githubusercontent.com/343840/41371953-89f6fa6a-6f11-11e8-8e21-35d04a3728e7.gif)

[2018-06-14 10:27] Wagnerp commented on #28
I've added the code that you have suggested, and it does look better. I've added new code for an alert option, but can't understand why it doesn't work. The `TextGlow` feature doesn't currently work at the moment, as I'm still working on a `C#` implementation, because most of the examples I've come across are written in `VisualBasic`.

[2018-06-14 14:00] fdncred commented on #28
Regarding the Alert. I brought you code over and debugged it. The problem was you were setting the wrong variables and not forcing a redraw. Try this.
[code]
The same is true for SoftBlink()
[code]
Also, I noticed that your property defaults aren't getting set when using Code First versus using the designer. So, I added the defaults to the constructor as well, otherwise the AlertBlinkInterval was

[2018-06-14 14:15] fdncred commented on #28
Here's my changes with blinkDuration. I set the default duration to 10 seconds arbitrarily. Maybe there should be a property for that?
[code]

[2018-06-14 15:06] Wagnerp commented on #28
I've uploaded new code with  a definable `BlinkDuration` property. Thanks for your bug testing, it's much appreciated.

[2018-06-14 15:21] fdncred commented on #28
You are welcome.

Don't these lines need to default to the property BlinkDuration?
https://github.com/Wagnerp/Krypton-Toolkit-Suite-Extended-NET-4.70/blob/75200438afff2779d4e08fab47923942612b5cae/Source/Krypton%20Toolkit%20Suite%20Extended/Extended%20Controls/ExtendedToolkit/ToolstripControls/ExtendedToolStripStatusLabel.cs#L423
like
[code]
https://github.com/Wagnerp/Krypton-Toolkit-Suite-Extended

[2018-06-14 15:41] Wagnerp commented on #28
I'll put it in. I don't know if these methods need to be put into the `OnPaint` method, as it's not doing anything when called, if so I can create an `enum` + property for the user to choose from.

[2018-06-20 23:49] omarrrio opened #30 "[Request] KryptonTreeView Node's KryptonContextMenu and a Better LinkLabel"
Hello, i would love to see these two new features, if you have any time for them, thank you.
1- KryptonTreeView Node to be able to take a KryptonContextMenu instead for a normal ContextMenu.
2- A windows like LinkLabel where you are able to assign links using Starting poistion/End position like the following:
`this.linkLabel1.Links[0].LinkData = "Register";
            this.linkLabel1.Links.Add(24

[2018-06-21 07:06] Wagnerp commented on #30
Thanks for the suggestions. Will look into it ASAP.

[2018-06-21 15:36] omarrrio commented on #30
Thank you Peter for the hard work, Could i also ask for updated release aswell since i can't build the solution DLLs myself for some reason, also i would like to donate, but i can't find a donation link.

[2018-06-21 16:54] Wagnerp commented on #30
Update, I think that a kryptonised version of the context menu is already usable for a KryptonTreeNode, you may need to use a `KryptonManager` to access it, as it re-skins controls such as the context menu to become 'Kryptonised'. Not sure what you mean by the LinkLabel. Could you please explain it more?

[2018-06-21 17:07] omarrrio commented on #30
- For the KryptonTreeNode, there is no option to assign a KryptonContextMenu, i do not know how to use the manager to reach such result, but as you can see [here](https://prnt.sc/jxp7gb) and [here](https://prnt.sc/jxp89w), there is no option for it. If you would be so kind as to guide me through doing it ?
- As for the linkLabel, as you know the KryptonLinkLabel is basically a "Link" Label, you ca

[2018-06-21 17:08] Wagnerp commented on #30
The binaries [Krypton Toolkit Extended.zip](https://github.com/Wagnerp/Krypton-Toolkit-Suite-Extended-NET-4.70/files/2124650/Krypton.Toolkit.Extended.zip)

[2018-06-21 17:13] Wagnerp commented on #30
Might take some time to work out how to implement the controls. I can't guarantee a quick turn around, but please make sure you check back often to see if they have been implemented.

[2018-06-23 14:54] herledant opened #31 "Compilation problem"
hello guy's,

Sorry for disturbing you again but i wanted to see more with extended!
Unfortunalty when i try to compil i obtain so many errors like:

![pb extended compil](https://user-images.githubusercontent.com/9166449/41810875-c2bf9c66-7705-11e8-9862-e9a490e889a4.png)

At many time the namespace "componentFactory" is missing.

Krypton Design is missing too but it's included in krypton toolkit.

[2018-06-23 16:37] Wagnerp commented on #31
It looks as if you need to set the references for the included projects. The DLLs are located in the `Required` folder, or you can use the compiled DLLs from `Krypton-NET-4.70`. It does look worse than it actually is. I would use Nuget packages, but I've had nasty experiences with them, whereby they just wouldn't work at all!

[2018-06-23 16:59] herledant commented on #31
yep, i saw the required folder. Therefore even if i import those dll in each project, design dll seems to be missing and i have a lot of error during compilation.

[2018-06-23 17:28] Wagnerp commented on #31
You may need to remove the references first before adding them in.

[2018-06-23 17:30] Wagnerp commented on #31
Then do 'Clean Solution' to flush everything out, and then do 'Build Solution'

[2018-06-23 18:17] herledant commented on #31
i've the problem with Krypton-Toolkit-Suite-Extended-NET-4.70.
I put the dll freshly compil from Krypton-NET-4.72 but same error

[2018-06-23 19:03] Wagnerp commented on #31
Ahh yes... just 'unload' those projects, as they aren't completed yet.

[2018-06-23 19:06] Wagnerp commented on #31
A lot of broken or unfinished code is still in those two projects. Working on quite a complex feature to make palette creation easier to do.

[2018-06-23 19:10] herledant commented on #31
ohoh of course!
thank's i will.

Coul you tell me if this Extended Suite could fire the .Net 4.5?

BR

[2018-06-23 19:12] Wagnerp commented on #31
The `Colour Composer` is part of that feature, but the `Extended File Dialogs` are meant to 'kryptonise' file dialogs, but progress is slow since I haven't been able to find suitable shell components yet.

[2018-06-23 19:17] herledant commented on #31
no problem i understand ! this is a lot of stuff to have a great suite component.
Many thank's for your help.
I appreciate your work and i use krypton for my tool every day!
Great job

[2018-06-23 19:21] Wagnerp commented on #31
If you want support for .NET 4.5, all you need to do is to re-target both Krypton-NET-470 and the Extended Toolkit to .NET framework 4.5. An official repo isn't in the works yet, especially as a beta for 4.8 has just been released. But could do in the future. If you do decide to go ahead, then please make sure that you have backed everything up before proceeding.

[2018-07-03 20:51] omarrrio opened #32 "How to use extended toolkit on a 4.0 FrameWork ?"
Is it possible to use the extended toolkit on the FW 4.0 without rebuilding solution ?

[2018-07-04 08:45] Wagnerp commented on #32
I'll backport it for you.

[2018-07-04 13:54] omarrrio commented on #32
Thank you Peter, it'll help a lot when building an app that works for windows XP aswell

[2018-07-04 16:16] Wagnerp commented on #32
https://github.com/Wagnerp/Krypton-Toolkit-Suite-Extended-NET-4.0

[2018-07-04 18:33] omarrrio commented on #32
Thank you so much Peter !

[2018-07-04 18:33] #32 closed

[2018-07-04 18:59] Wagnerp commented on #32
The toolkit has been downgraded as well, though I may not maintain the 4.0 version of the toolkit, as my primary focus is for 4.7 and newer.

[2018-07-04 19:48] omarrrio commented on #32
I understand, for now the applications i am making are just to showcase my knowledge of coding, and the toolkit makes them look pretty smooth, so i'll take the huge work you did on it.

[2018-08-03 08:38] Smurf-IV opened #33 "Exceptions thrown during use (Listed below when found)"
In `KryptonDataGridView.cs` line 1153 state = normal
![image](https://user-images.githubusercontent.com/2418812/43633332-da07df30-9700-11e8-8444-3f50c2e14fd0.png)

[2018-08-03 08:52] Smurf-IV commented on #33
In `AccurateText.cs` line 305
`                            Color tmpColor = tmpBrush?.Color ?? SystemColors.ActiveCaptionText;`

[2018-08-03 09:04] #31 closed

[2018-08-03 09:10] Smurf-IV commented on #33
Wrong project, this is for the Components not the extensions

[2018-08-03 09:10] #33 closed

[2018-08-08 20:47] #26 closed

[2018-08-08 20:48] Wagnerp commented on #26
Look at 'KryptonPalette'

[2018-08-27 06:30] #10 closed

[2018-08-27 11:47] Wagnerp opened #34 "Need to find a way to contact this author"
Need to find a way to contact the author of [this project](https://github.com/ncarp/ExtendedRenderer), to see if it's possible to merge the two projects.

[2018-09-02 12:50] kevin100702 commented on #32
Krypton-Toolkit-Suite-Extended-NET-4.0 Cannot compile.  Who can help me?

[2018-09-02 14:02] Wagnerp commented on #32
Hi @kevin100702

Have you referenced the normal krypton DLLs before compiling it?

[2018-09-05 08:10] kevin100702 commented on #32
Hi @Wagnerp

Yes. I have.

The following threemethods are not supported in .net 4.0

`PARAFORMAT pARAFORMAT = new PARAFORMAT()
{
    cbSize = Marshal.SizeOf<PARAFORMAT>(_pARAFORMAT)
};`

SizeOf<T>(T)
[Supported in the .NET Framework 4.5.1 and later versions]

`Marshal.StructureToPtr<FORMATRANGE>(fORMATRANGE, zero1, false);`

`await Task.Delay(_flashInterval);`

Sorry！ My english is poor.

Thank yo

[2018-09-05 09:05] Wagnerp commented on #32
Hi @kevin100702

I will be removing the control because of this, as I wasn't aware until someone pointed this out. Will be uploading the changes later today.

[2018-09-09 17:37] Wagnerp opened #35 "Palette Editor Feedback"

[2018-09-17 18:38] Wagnerp commented on #8
https://www.codeproject.com/Articles/29154/CodeTextBox-another-RichTextBox-control-with-synta

[2018-09-24 14:22] GeraldoJansen opened #36 "I was wondering if there is any documentation or tutorials on how to use this new Krypton framework"
Good morning to all.

I tried to use this version of Krypton and could not compile the project because it contains some references failures and some files with extensions like .wxs, .wixproj, .aip, .aiproj. I was wondering if this version has tutorials, documentation on how to install and use, would they?

Taking the opportunity I was wondering if the Krypton Toolkit Suite Extended would continue

[2018-09-25 15:03] Wagnerp commented on #36
Hi @GeraldoJansen,

Those extensions are used for packaging and distributing the binaries in an installable format for those who don't want to build from source. Just `unload` these projects if you need to build from source. The Krypton Toolkit Suite Extended projects uses the same BSD-3 Clause license that is used for the Krypton-NET-4.xx projects.

[2018-09-28 13:58] GeraldoJansen commented on #36
Good morning, Mr. @Wagnerp .

From what I see is not ready a stable version of the extended krypton so I look forward to this work that I see that every day is better and feel the excitement in the work of art that are the codes.

Thank you very much for your time and thank you for this work of yours that helps so many and contribute so much to the knowledge of all.
Good work for you.

[2018-09-28 14:44] Wagnerp commented on #36
Hi @GeraldoJansen

The Extended Toolkit has a rolling release schedule, so it won't be as stable as the normal toolkit. Having said that, I aim to turn it into a NuGet package, now that I've solved the issues behind why it was not installing properly.

[2018-09-28 16:49] Wagnerp commented on #8
https://visualstudiomagazine.com/articles/2011/08/01/pfint_tear-off-tearstrips.aspx

[2018-09-28 16:49] Wagnerp commented on #8
[0811vsm_F2Tearstrip_DockingFloatingToolStrips.zip](https://github.com/Wagnerp/Krypton-Toolkit-Suite-Extended-NET-4.70/files/2429024/0811vsm_F2Tearstrip_DockingFloatingToolStrips.zip)

[2018-09-29 09:56] #13 closed

[2018-09-29 09:59] Wagnerp commented on #28
Note to myself: Revisit at some point.

[2018-09-29 11:15] GeraldoJansen commented on #36
Good morning, @Wagnerp .

What good news. Good work and thank you.

[2018-10-01 15:45] Wagnerp commented on #36
Hi @GeraldoJansen

Do you mean the normal toolkit or the extended toolkit? If so I plan to upload .NET versions 4.0 to 4.7.2 to NuGet. I don't plan to release version `5.480` to NuGet anytime soon, since the .NET framework, version 4.8 is still in the early beta stages.

[2018-10-02 22:57] GeraldoJansen commented on #36
Good evening, Mr. @Wagnerp .

I'm working with .NET 4.5, so I wanted both krypton form classico and extended krypton with compiling projects with the .NET 4.5 framework.

Appreciate your attention.

[2018-10-04 17:43] Wagnerp commented on #36
Hi @GeraldoJansen

A NuGet package for the classic suite is now available for .NET 4.5. One for the extended toolkit will be made available sometime on Friday 5th October.

[2018-10-09 00:43] GeraldoJansen commented on #36
Thank you very much @Wagnerp

[2018-11-07 13:28] Faycalamk opened #37 "Improperly Tree Displaying of KryptonOutlookGrid"
VS 2017 c#  with Krypton-Toolkit-Suite-Extended-NET-5.470

I used KryptonOutlookGrid (with its KryptonOutlookGrid Box) and polpulated it.
In RunTime, When I collapse one node it displays only one child (among many) and hides the next parent rows !!

Please help me !
Thanks

[2018-11-07 14:07] #37 closed

[2018-11-07 14:08] Faycalamk commented on #37
I found the solution
 you absolutely have to put  a text in a textboxcolumn

[2018-11-25 10:14] #36 closed

[2019-01-05 15:57] Smurf-IV commented on #2
Completed on the 2019-01-03 delivery

[2019-01-05 15:57] #2 closed

[2019-01-05 15:58] Smurf-IV commented on #1
Completed on the 2019-01-05

[2019-01-05 15:58] #1 closed

[2019-02-06 15:12] Wagnerp opened #44 "Can we use this?"
Can we use [this](https://github.com/vsvyatski/ookii.dialogs), as it's under BSD-3 Clause?

[2019-02-08 14:44] Smurf-IV commented on #44
- Sort of - yes, but the original code will need the original License.

- The other way is to derive from the original, so that it keeps it's integrity,
Or use Peer programming, where one person looks at the code and describes it, and the the other writes the code to reflect the description (Not a like for like!)

- Another way, is to get the 2 authors to agree to merging the code into the Extende

[2019-02-08 18:30] Wagnerp commented on #44
Could the original licence be stored in the source code itself? Finding the original code is easy.
[Ookii.Dialogs.zip](https://github.com/Wagnerp/Krypton-Toolkit-Suite-Extended-NET-5.470/files/2846366/Ookii.Dialogs.zip) was downloaded straight from the original authors website.

[2019-02-09 08:37] Smurf-IV commented on #44
I think so, Because the 3rd clause states not to endorse derived works with the original name without permission, So if it is not given, the "Code could" still be used due to the 1st 2 clauses.
Remember Krypton is also BSD 3 and permission was given from the author for derived works (Sort of) due to his statement of "releasing it" into github for further development.

Ooki dialogs already overlaps

[2019-02-09 17:50] Wagnerp commented on #44
I have integrated the code. The only thing I changed was the file/folder structure.

[2019-02-09 18:30] Wagnerp opened #45 "A krypton messagebox designable component"
Like a Timer but for krypton messageboxes

[2019-02-10 10:20] Wagnerp opened #46 "New folder browser dialog"
A drop-in replacement for the standard winforms folder browser dialog.

[2019-02-12 16:57] richterAl opened #47 "ExtendedKryptonMessageBox.TopMost"
Helle @Wagnerp,

I'm working on program that uses the KryptonToolkit.
By default the ExtendedKryptonMessageBox is displayed TopMost, which means it is on the top of any other application. This behavoir is different to the standard MessageBox and all other none .Net programms and I don't like it.

I would like to ask you if it is possible to add a static property TopMost to the ExtendedKryptonMessa

[2019-02-16 17:15] Smurf-IV opened #48 "Cannot use Nuget package, because it pulls in LinqBridge as well !"
Projects that use nuget do not want to know about this as they will be using .Net 4 onwards

Nuget linked projects get the following compilation errors:
![image](https://user-images.githubusercontent.com/2418812/52902833-521bdf00-320e-11e9-8755-266200da8e25.png)

LinqBridge is for .Net 2.0
![image](https://user-images.githubusercontent.com/2418812/52902791-a7a3bc00-320d-11e9-8e5e-64f3ba6b1e1f.png)

[2019-02-16 17:20] Smurf-IV commented on #48
Dll list pulled in via extended toolkit is too big for tha actual useable components (i.e. just the Ext toolkit please!)
![image](https://user-images.githubusercontent.com/2418812/52902886-17ff0d00-320f-11e9-9526-01c72b558e2c.png)

[2019-02-16 17:31] Smurf-IV opened #49 "Identical designer code does not produce Identical CommandLink buttons"
!!!!
![image](https://user-images.githubusercontent.com/2418812/52903007-a6c05980-3210-11e9-8a03-0b9474f05f86.png)

[2019-02-16 17:34] Smurf-IV commented on #49
Increasing the button height produces the expected result.. That does not make sense !
![image](https://user-images.githubusercontent.com/2418812/52903108-20f0de00-3211-11e9-9f36-8f33e64b9c4c.png)

[2019-02-16 19:59] Wagnerp commented on #48
I'll remove the requirement in the March update. Just testing the toggle switch I've fixed that annoying flickering bug with it.

[2019-02-18 17:13] Wagnerp opened #50 "Help Needed: File System TreeView"
Help needed for a file system tree view for upcoming additions.

[2019-02-18 17:17] Wagnerp opened #51 "Help Needed: Krypton ListView"
Help needed for development of (or fixing) the current Krypton list view component for upcoming additions.

[2019-02-20 08:01] Wagnerp opened #52 "Future Update?"
I wonder if we could use/adapt https://github.com/dockpanelsuite/dockpanelsuite in a future update?

[2019-02-22 14:30] Smurf-IV commented on #52
Isn't the _Krypton Workspace_ supposed to be the docker equivalent ? (Note: I never used it!)

[2019-02-22 14:35] Smurf-IV commented on #51
What Appears to be the problem with it ? (Linked Items ?)
I have not had a specific problem. (But I do remember that assigning dataSource programmatically caused a problem in the past, not sure if I worked around it or not !)

[2019-02-24 07:44] Wagnerp opened #53 "Update Solution file to VS2019"

[2019-02-24 08:48] Smurf-IV commented on #53
I would prefer if you wait until 2019 is officially released....

[2019-02-24 10:22] Smurf-IV opened #54 "Request: Can we have retro theme(s) ?"
See the themes at the following:
https://github.com/AlexanderSharykin/RetroUI

This is a bit of fun and low priority, but might find use for Tablet style apps (i.e. low resolution)

[2019-02-24 12:53] Smurf-IV commented on #14
Solved by Fixing it in the Toolkit directly
[https://github.com/Wagnerp/Krypton-NET-5.470/issues/85](https://github.com/Wagnerp/Krypton-NET-5.470/issues/85)

[2019-02-24 12:53] #14 closed

[2019-02-25 07:40] Wagnerp opened #55 "Migrate Playground app to new Hub app"

[2019-02-25 09:05] Wagnerp commented on #53
The change will likely come in May. I know that the RTM will be released on 2nd April, so I may make the changes on the development branch then or create a VS2019 Testing branch by then.

[2019-02-25 11:05] Wagnerp opened #56 "Allow users to add a Krypton/Ribbon Form via the 'Add Item' Visual Studio dialog"
Like how you would do with any other object - Item Templates project.

[2019-02-25 11:07] Wagnerp commented on #52
I was thinking more about the themes that it has?

[2019-02-25 11:08] #44 closed

[2019-02-25 11:12] Wagnerp commented on #21
Hi @Smurf-IV

Update: I've got the `WindowsAPICodePack` source code, may be worthwhile looking at that

[2019-02-27 08:07] Wagnerp opened #57 "Kryptonise & enhance Scintilla NET components"

[2019-02-28 08:30] Smurf-IV commented on #52
OK, Pictures please ?

[2019-02-28 09:48] Wagnerp commented on #52
![image](https://user-images.githubusercontent.com/949607/53557451-ddb23b80-3b3d-11e9-991c-4948264eb099.png)

![image](https://user-images.githubusercontent.com/949607/53557489-f02c7500-3b3d-11e9-9c95-3887684c5fa2.png)

![image](https://user-images.githubusercontent.com/949607/53557513-fde1fa80-3b3d-11e9-9588-84353b5f6956.png)

![image](https://user-images.githubusercontent.com/949607/53557531-089

[2019-02-28 09:49] Wagnerp commented on #52
More the 2010 theme I think!

[2019-03-03 09:35] Smurf-IV opened #58 "Disable colour difference for the CommandLink Button is not enough"
Needs to go "More grey" or a lot lighter, when the button is disabled.

[2019-03-03 14:31] Wagnerp commented on #58
I think there is maybe a value in `KryptonPalette`

[2019-03-03 19:04] #48 closed

[2019-03-07 11:54] Wagnerp opened #59 "Toast Notification"
Done!!!

![image](https://user-images.githubusercontent.com/949607/53955026-c5a76280-40cf-11e9-9e51-de0fe7d00f27.png)

[2019-03-08 09:59] Wagnerp commented on #59
Implement `MessageBoxIcon` (Question, Information etc) and RTL/LTR support. Also, add sliding animation for load/close.

[2019-03-11 17:58] Wagnerp opened #61 "Package Theme Files in NuGet"
See issue [#97](https://github.com/Wagnerp/Krypton-NET-5.470/issues/97)

[2019-03-16 12:30] Wagnerp opened #62 "VirusTotal Uploader/Analyser & other security stuff!"

[2019-03-18 12:07] Wagnerp opened #63 "Enhance the Palette Upgrade Tool"
The current one is good, but could do better!

[2019-03-25 08:38] herledant commented on #16
Hello Wagnerp,
Coult you explain me how it's work?
I try to use it and when i click it, the elevation doesn't fire.
I've set the elevationonclieck to true

[2019-03-25 11:16] Wagnerp commented on #16
Yes sure, I don't know how the VB syntax is, but in the button click event you put:

`ElevateProcessWithAdministrativeRights(**Your process here**)`

[2019-03-25 13:03] herledant commented on #16
ok thank's.
Is there any help  that i can read to understand how tu use all the controls you bring with the extended krypton?

[2019-03-25 15:12] Wagnerp commented on #16
Hi @herledant

Unfortunately not, but if you need any help, just post a question here and I can help you.

[2019-03-25 17:53] Wagnerp commented on #59
https://github.com/Tulpep/Notification-Popup-Window/

[2019-03-27 11:19] Wagnerp commented on #25
https://github.com/jacobmesu/Guifreaks-Navisuite

[2019-03-30 12:12] Wagnerp opened #64 "New Themes"
Excel Green
PowerPoint Red
Outlook Orange/Blue
Publisher Green
Access Purple
InfoPath Purple
Groove Green
OneNote Purple
Project Green
SharePoint Orange
Visio Blue

Olive

[2019-04-06 10:35] Smurf-IV commented on #64
http://www.skin-soft.co.uk/VisualStyles/Skingallery.aspx

[2019-04-07 09:51] Wagnerp commented on #64
Hi @Smurf-IV

At the moment I'm completely re-writing the `PaletteCreationEngine` file for usage in the Palette Editor app. I've also discovered that I've already created most of the themes on my original list.

[2019-04-09 07:09] Smurf-IV opened #65 "In the updates of Readme, can you please put small picture examples"
Or even links to another page that allow a "browsing person" to follow and see what a "Picture wheel" looks like?

[2019-04-09 09:48] Wagnerp commented on #65
Yes, sure, do you mean a screenshot of the example application?

[2019-04-09 16:00] Smurf-IV commented on #65
I think each control as you complete it (Or when it has usable functionality)  should be enough.

[2019-04-16 10:58] #63 closed

[2019-04-20 11:52] #34 closed

[2019-04-20 11:53] #29 closed

[2019-04-22 01:30] Thavarajan commented on #59
Is it completed? Or is this still in development,
If so why don't we create a separate branch for a feature

[2019-04-22 06:04] Wagnerp commented on #59
Hi @Thavarajan

The base is completed, and is in the latest build. New features will be added over time, but I need assistance with RTL/LTR support.

[2019-04-27 08:20] Smurf-IV opened #66 "Palette Editor does not end when the application is closed"
Dangling unnamed worker thread prevents application from exiting the Task manager.

![image](https://user-images.githubusercontent.com/2418812/56846993-b83b7700-68cd-11e9-8211-983eb8b3654d.png)

[2019-04-27 08:32] Smurf-IV opened #67 "The Following resources do not seem to exist in the TreeViewExt"
[code]

[2019-04-27 08:33] Smurf-IV opened #68 "The Following resource does not seem to exist in FlatTabControl"
Bitmap updownImage = ((System.Drawing.Bitmap)(resources.GetObject(**"TabIcons.bmp"**)));
Bitmap closeImage = ((System.Drawing.Bitmap)(resources.GetObject(**"CloseIcon.bmp"**)));

[2019-04-27 08:34] Smurf-IV opened #69 "The Following resource does not seem to exist in FileSystemTreeView"
this.ilIcons.ImageStream = ((System.Windows.Forms.ImageListStreamer)(resources.GetObject(**"ilIcons.ImageStream"**)));

[2019-04-27 08:42] Smurf-IV opened #70 "All Code files should have a license declaration in order to meet and conform with BSD license"
See
https://opensource.google.com/docs/releasing/licenses/#bsdstyle-header

[2019-04-27 09:01] Smurf-IV opened #71 "Playground test throws exception when selecting a theme"
- Start
- 1st "Test Bench"
- ListView
- Combo DropDown
- Select Office 2007-Black

Boom :

![image](https://user-images.githubusercontent.com/2418812/56847477-3bab9700-68d3-11e9-9fc4-59639f8594ae.png)

[2019-04-27 09:06] Smurf-IV opened #72 "Pressing Yes on the Password Generator exit messageBox does not thing !"
![image](https://user-images.githubusercontent.com/2418812/56847523-e3c16000-68d3-11e9-9dfe-cf0c7dcff9dc.png)

[2019-04-27 09:22] Wagnerp commented on #71
Hi @Smurf-IV

I think this has been fixed in the `Development` branch to use the newly created `ThemeManager`

[2019-04-27 09:40] Smurf-IV commented on #30
https://github.com/Wagnerp/Krypton-NET-5.470/issues/167

[2019-04-27 11:33] Smurf-IV commented on #30
Note: LinkLabel is still to be done

[2019-04-28 17:20] Wagnerp commented on #70
Will start implementing in June 2019 update

[2019-04-28 17:23] Wagnerp commented on #66
The `Palette Editor` is going to be replaced with the `Palette Explorer` app

[2019-04-28 18:08] Wagnerp opened #75 "Put all toolkit settings into one **Global** DLL"
Reduce messy settings!!!!!!!!!!!!

[2019-05-01 06:53] Wagnerp commented on #65
Now live

[2019-05-01 11:58] Smurf-IV commented on #15
https://marketplace.visualstudio.com/items?itemName=dahall.WindowsFormsWizardTemplates

[2019-05-01 14:06] Wagnerp commented on #15
I've actually included it back in the February update

[2019-05-02 10:20] Smurf-IV commented on #15
Just needs to be n the Market place then 👍

[2019-05-02 15:35] Wagnerp commented on #15
Will put a link to it. I think that it was part of the extended renderer project

[2019-05-07 08:29] Smurf-IV opened #76 "Krypton Numeric "Up Downer" content padding is not applied"
![image](https://user-images.githubusercontent.com/2418812/57285197-98186e80-70aa-11e9-9ac7-daa0891236a5.png)

[2019-05-07 08:46] Smurf-IV commented on #76
Damn it ... @Wagnerp Please move this to Components and then delete this comment :-)

[2019-05-07 11:25] Wagnerp commented on #76
Sure will transfer now :)

[2019-05-14 18:09] #71 closed

[2019-05-14 18:10] #53 closed

[2019-05-18 07:54] Smurf-IV opened #79 "How many MessageBoxes are being exported!?! and which work?"
I think I count at least 3 different versions of messegebox being exported, which work ?

Also, on this note, the DLL seems to have a lot of Test, and part filled in features, Please only have completed Items, and then have their names in the example images.

[2019-05-18 16:09] Wagnerp commented on #79
The `ExtendedKryptonMessageBox` is the one that I'm using, I know that one of them was a a test to see if I could make a `Do Not Show Again` option, but can't quite get the font and alignment to work. Is the `Test` referring back to the `ExtraText` I've put in, i.e `MONTHNAME Update - Build: xxx`? If so, I've consolidated all the settings into one DLL, but that won't be rolled out fully until July

[2019-05-18 20:42] Smurf-IV commented on #79
There is also (From memory - not at dev machine) one called `ExtendedKryptonMessageBoxOld` and `KryptonMessageBoxExtended`

The other sentence is about lot's f other things in the dll that do not seem to make sense (Again not at dev machine to remember names!)

[2019-05-19 07:48] Wagnerp commented on #79
I'll take out `ExtendedKryptonMessageBoxOld` as it's not needed and the `KryptonMessageBoxExtended` is the one with the `Do Not Show Again` option in it.

[2019-05-19 11:48] Wagnerp commented on #79
I've taken out `ExtendedKryptonMessageBoxOld` in the latest commit. Probably will remove `Extended File Dialogs.dll` in the June release, as that needs work to be done.

[2019-05-21 11:16] #66 closed

[2019-05-21 11:19] #35 closed

[2019-05-21 11:21] #15 closed

[2019-05-21 18:19] Wagnerp opened #80 "Developer Defined Admin Text"
What it says.

[2019-06-04 10:10] DarthVader85PA opened #81 "KryptonContextMenu for KryptonDataGridView"
Is it possible in the future to add a property for the KryptonDataGridView that provides a choice for a KryptonContextMenu, like ContextMenuStrip?

Thanks

[2019-06-11 17:20] #80 closed

[2019-06-11 17:20] #75 closed

[2019-06-11 17:21] #70 closed

[2019-06-15 06:46] todo[bot] opened #82 "Add implementation code here"
https://github.com/Wagnerp/Krypton-Toolkit-Suite-Extended-NET-5.470/blob/8aa46bcd427f2cae7ef4cbcc44e166be0f1ce0f5/Source/Krypton Toolkit Suite Extended/Extended Controls/ExtendedToolkit/FloatingFramework/Controls/DockingHostToolStripPanel.cs#L174-L179

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 8aa46bcd427f2cae7ef4cbcc44e166be0f1ce0f5. It&#

[2019-06-16 07:17] rahulmaxi opened #83 "DateTimePicker max date"
Hi,

Is there anyway DateTimePicker max date can be set to 9999-12-31?
At the moment it can be set max to 9998-12-31.

Thanks,
Rahul

[2019-06-16 10:49] #65 closed

[2019-06-16 11:00] Smurf-IV commented on #79
![image](https://user-images.githubusercontent.com/2418812/59563142-f7648980-902d-11e9-9b09-8ce0d49b54cc.png)

![image](https://user-images.githubusercontent.com/2418812/59563148-06e3d280-902e-11e9-9b6e-84bb2c41249e.png)

[2019-06-19 17:21] pc8181 opened #84 "Properties.Resources.Designer.CS Yellow ICON"
today i just install from nuget :
Install-Package KryptonExtendedToolkit5470 -Version 5.470.1030

after that i add tools item in toolbar from Packages folder.
i drag Ribbon and compile but failed with below error

System.InvalidOperationException: 'An error occurred creating the form. See Exception.InnerException for details.  The error is: Could not load file or assembly 'Krypton Ribbon, Version=

[2019-06-19 18:30] Wagnerp commented on #84
Hi @pc8181

The toolbox should automatically populate when you install the NuGet package into your project. Is this not happening? From the error, it's trying to find the `Krypton Ribbon` DLL, can you confirm that all the standard toolkit binaries are all present?

[2019-06-19 18:32] #82 closed

[2019-06-19 18:34] Wagnerp commented on #79
Removed `KryptonMessageBoxBase.cs`

[2019-06-20 04:32] pc8181 commented on #84
Hi Sir,
      Finally 2 or 3 items tried and get tools in toolbox but i can see in my references look like below
![image](https://user-images.githubusercontent.com/13380400/59818629-466a3180-9342-11e9-9b3a-77d0bad9e764.png)

otherwise working fine after 2 hours struggled.

[2019-06-20 06:37] Wagnerp commented on #84
Hi @pc8181

Were you upgrading from an older version? If so, I think I may have removed the errant `Properties.Resources.Designer.dll`.

[2019-06-20 06:49] Wagnerp commented on #72
Fixed!!! It was looping around `Close()`

[2019-06-20 06:53] #72 closed

[2019-06-20 07:02] Wagnerp commented on #83
Hi @rahulmaxi

I'll look into this, might be a case of implementing it via code.

[2019-06-20 07:08] Wagnerp commented on #83
**Update:** It seems to rely on the system's max date, transferring to standard toolkit for fix.

[2019-06-20 09:38] pc8181 commented on #84
Hi Sir,
    No, i just fresh installation from Nuget ... today right now i create new project and try to install KryptonExtendedToolKit5470, i hv the same problem see the screentshot

![image](https://user-images.githubusercontent.com/13380400/59838796-33b92200-936d-11e9-929e-9abfafabfe59.png)

[2019-06-20 15:42] Wagnerp commented on #84
Hi @pc8181

What happens if you remove the reference for `Properties.Resources.Designer`?

[2019-06-21 11:18] Wagnerp commented on #68
Figured it out!

[2019-06-24 11:02] todo[bot] opened #85 "Add constructor logic here"
https://github.com/Wagnerp/Krypton-Toolkit-Suite-Extended-NET-5.470/blob/d9286873aa8109fbd72aa6718ac45ded64e717f6/Source/Krypton Toolkit Suite Extended/Extended Controls/ExtendedToolkit/Controls/Standard Controls/CustomTreeView/ShellIcon.cs#L45-L50

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in d9286873aa8109fbd72aa6718ac45ded64e717f6. It&#x27

[2019-06-25 09:37] #85 closed

[2019-06-28 15:48] #56 closed

[2019-07-01 07:24] #79 closed

[2019-07-01 07:26] #67 closed

[2019-07-01 07:26] #68 closed

[2019-07-01 07:27] #69 closed

[2019-07-01 07:28] #61 closed

[2019-07-01 07:29] #51 closed

[2019-07-01 07:29] #50 closed

[2019-07-01 07:41] Wagnerp commented on #84
Hi @pc8181

Are you still having the same issue?

[2019-07-02 01:37] pc8181 commented on #84
ooh Sorry for late ...
  after removed nothing happen working as fine sir.. but first time i saw a .cs file as a reference

Thanks

[2019-07-02 09:31] Wagnerp commented on #84
Is the issue resolved in 1180?

[2019-07-02 09:42] #84 closed

[2019-07-03 13:41] Smurf-IV opened #86 "A proper "Status strip rendered ProgressBar" please ?"
here is a starting point:
https://stackoverflow.com/questions/20584132/change-the-color-of-a-toolstripprogressbar-without-disabling-the-xp-visual-style

[2019-07-03 13:43] Smurf-IV commented on #86
Using the above, I have got a "Reasonable colour background" with the following event added to the status strip:

        private void StatusStrip_RendererChanged(object sender, EventArgs e)
        {
            if ( ToolStripManager.Renderer is KryptonProfessionalRenderer kpr )
                progressBar.BackColor= kpr.KCT.StatusStripGradientEnd;
        }

[2019-07-04 15:43] Wagnerp commented on #86
I'll look into it

[2019-07-06 08:33] Smurf-IV opened #87 "Can the "Extended Toolit" be broken into seperate "Chunks"..."
When downloading the existing "Extended kit" just to use a MessageBox and a button, It needs to pull in several Third Party NuGet  packages as well.

Please can these third party package requirements be "broken out" into seperate "singular" extensions, so that if a user want to use scintilla etc. they can take that nuget extension as needed.

[2019-07-06 09:12] Wagnerp commented on #87
Do you mean like a core/basic and full versions? If so yes, that will be possible.

[2019-07-06 09:14] Wagnerp commented on #87
I've actually thought about it when doing the floating tool/menu strips!

[2019-07-06 11:02] Smurf-IV commented on #87
Probably,
_Core:_ Only a single dll that has the controls that do not need any other nuGet package (Apart from Krypton base !)
_Winform Anim Ext:_ The controls that allow animation (With Core as a dependency etc)
_Scintilla Ext:_ An Additional Ext Dll that overrides those controls (With Core as a dependency etc)
_APICodePack Ext:_ whatever is needed for that to happen until other methods that do n

[2019-07-06 11:54] Wagnerp commented on #87
Will need to pick apart the toolkit to see which controls go where. Might also do a colour control one and a dialogs one plus a IO/System one for file system controls.

[2019-07-06 15:03] todo[bot] opened #88 "use a local image"
https://github.com/Wagnerp/Krypton-Toolkit-Suite-Extended-NET-5.470/blob/4b0e7cf3619e722ef41b40757a6cb65f773da256/Source/Krypton Toolkit Suite Extended/Core/Components/KryptonCommandLinkVersion1.cs#L26-L31

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 4b0e7cf3619e722ef41b40757a6cb65f773da256. It&#x27;s been assigned to @Wagnerp because they c

[2019-07-06 20:36] #88 closed

[2019-07-06 20:43] Wagnerp commented on #87
Hi @Smurf-IV

I found out that **all** modules will require the standard toolkit as a base. By doing this, it makes me wonder if I should split up the standard toolkit into modular NuGet packages too?

[2019-07-07 07:42] Smurf-IV commented on #87
At least just the "base Component controls", and then leave the Complete Toolkit as the current "Standard" NuGet package.
Not Sure what it could be called (Minimal, Base, Controls, Toolkit Controls only, ... )

[2019-07-07 07:59] Wagnerp commented on #87
Yes still have all binaries all in one package, but have 6 new packages for each separate DLL/XML files. I may also package all the palette XML files into another separate module package.

Maybe name them as follows:-

- Core - Contains just the `Toolkit` DLL
- Docking - Contains just the `Docking` DLL
- Navigator - Contains just the `Navigator` DLL
- Ribbon - Contains just the `Ribbon` DLL
- Work

[2019-07-08 06:30] Smurf-IV commented on #87
This will work, It will just be the "Management" of the NuGet releases thay could be the downfall of this.....

[2019-07-12 08:14] #12 closed

[2019-07-12 08:15] #22 closed

[2019-07-18 06:28] Wagnerp commented on #86
I wonder if this would help https://docs.microsoft.com/en-us/dotnet/framework/winforms/controls/walkthrough-creating-a-professionally-styled-toolstrip-control

[2019-07-18 06:48] Smurf-IV commented on #86
Yep, the renderer thing would need to be in the Components dll, so this issue will need to be transferred

[2019-07-18 17:19] Wagnerp commented on #86
Transferred

[2019-08-05 14:36] dquinter opened #95 "[Question] How to apply new font to all textboxes on my project?"
Hi all.
I have a project with several textboxes, and I want everyone to have the same look & feel, and for that I want to apply a specific type of font.
How can I do it? One by one? Or can I create a new user control based on KryptonTextBox?
Thank you for any help you could give me.

[2019-08-07 17:00] Wagnerp opened #89 "Make customised properties more visible to the user"
Make customised properties more visible to the user (e.g Font, text & back colour).

[2019-08-09 10:26] pc8181 opened #90 "Reduce RibbonBar Top Size"
![image](https://user-images.githubusercontent.com/13380400/62772597-92716100-babd-11e9-8495-990d00816368.png)

Hi SIr,
        i added RibbonControl into Panel (dock in top,. i just upload the image here,..)
after added ribbon control into panel control, it shows some extra space on top of the ribbon control i tried to reduce it i could not and i have no idea how to do this.. can you help this...

[2019-08-09 10:47] Smurf-IV commented on #90
@pc8181 Is this an "Extended ribbon" or one form the base krypton controls?
@pc8181 A simple Example zipped up please ?

[2019-08-09 12:20] pc8181 commented on #90
Thanks for your reply sir...

added two form,
Form2 is better look,, but Form1 has extra space like title bar.

[TestProject.zip](https://github.com/Wagnerp/Krypton-Toolkit-Suite-Extended-NET-5.470/files/3486290/TestProject.zip)

[2019-08-09 12:52] Wagnerp commented on #90
Hi @pc8181

I don't think that you have set the `AllowFormIntegrate` to **true**

[2019-08-09 13:04] pc8181 commented on #90
Hi Sir,
i did AllowFormIntegrate  = True
QATLocation = Hidden
but none of working ...

[2019-08-09 13:54] Wagnerp commented on #90
Hi @pc8181

You did on `Form2` but not on `Form1`, hence the reason why it was showing the normal title bar.

[2019-08-09 14:17] pc8181 commented on #90
Hi Sir,
 RibbonControl, i put into Panel control in Form1 not in Form2 that is the reason .. so i wana hide the title bar in Form1

[2019-08-09 16:28] Wagnerp commented on #90
Hi @pc8181

Which panel did you use? As at the moment, you can't detach the ribbon from a window.

[2019-08-09 16:43] pc8181 commented on #90
Hi Sir,
        I tried with normal windows form panel control  and krypton panel control both are same result

Thanks.

[2019-08-09 16:49] Wagnerp commented on #90
Hi @pc8181

You don't need a panel to host a `Ribbon` control, how it works is that you place it directly onto a form. Have you tried installing the item templates that are hosted [here](https://github.com/Wagnerp/Krypton-Toolkit-Suite-Extended-NET-5.470/tree/master/Visual%20Studio%20Templates)?

[2019-08-09 17:00] Wagnerp opened #91 "Detachable Ribbons"
Use existing floatable toolbar framework for ribbons!

[2019-08-09 17:02] Wagnerp opened #92 "Templates VSIX Installer"
Automate template installation through VSIX.

[2019-08-09 18:01] pc8181 commented on #90
Hi Sir,
  Thanks for your valuable time spending for my question..
i added both items (Project,Item) template and tested...
this below image is used, item and project template method .. i changed one line to

  `this.kryptonPanel2.Controls.Add(this.kryptonRibbon1);`

reason is Ribbon control does not support any picture/image control so i want to place some big images on top right side so i placed

[2019-08-09 18:02] todo[bot] opened #93 "Why doesn't this work?"
https://github.com/Wagnerp/Krypton-Toolkit-Suite-Extended-NET-5.470/blob/4a602a5c296a6bb6350875a1cb7100840ddac444/Source/Krypton Toolkit Suite Extended/Core/Classes/Ribbon/RibbonMerger.cs#L60-L65

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 4a602a5c296a6bb6350875a1cb7100840ddac444. It&#x27;s been assigned to @Wagnerp because they committed t

[2019-08-09 18:26] Wagnerp commented on #90
I might be wrong, but I don't think that you can reduce the title bar size. Maybe changing the ribbon dock property will help?

[2019-08-09 18:35] #93 closed

[2019-08-13 17:53] todo[bot] opened #94 "Add other initialization code here."
https://github.com/Wagnerp/Krypton-Toolkit-Suite-Extended-NET-5.470/blob/ebce1f7c163e5330ff186675778c7cd7856f80c0/Source/Krypton Toolkit Suite Extended/Extended Menu and Toolbar Items/Controls/KryptonToolStripTextBox.cs#L71-L76

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in ebce1f7c163e5330ff186675778c7cd7856f80c0. It&#x27;s been assigned to @

[2019-08-13 17:53] #94 closed

[2019-08-26 17:57] Wagnerp commented on #95
Hi @dquinter

Just an update, the target release is for October. Completed the `StateCommon` focusing on the other 'States' now.

[2019-08-26 17:58] Wagnerp commented on #89
See #95

[2019-08-27 09:23] Wagnerp opened #96 "Expose Rounding Properties"
Expose rounding property for easier modification, see #89

[2019-08-27 10:06] Wagnerp commented on #96
![image](https://user-images.githubusercontent.com/949607/63762437-ac32e680-c8ba-11e9-94d2-648c309a40e4.png)

[2019-09-01 11:28] #87 closed

[2019-09-04 17:17] todo[bot] opened #97 "editor.Text = string.Format(Resources.FreshFile, DateTime.Now.ToString());"
https://github.com/Wagnerp/Krypton-Toolkit-Suite-Extended-NET-5.470/blob/1ce116735c4b3c13d06149207713d3ec577fbe7f/Source/Krypton Toolkit Suite Extended/Persistence/Classes/Other/FileCreator.cs#L33-L36

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 1ce116735c4b3c13d06149207713d3ec577fbe7f. It&#x27;s been assigned to @Wagnerp because they commit

[2019-09-06 16:56] Wagnerp opened #98 "Add Border Colour Control Properties"
Bolt-on to #89

[2019-09-06 16:59] #96 closed

[2019-09-06 17:00] #89 closed

[2019-09-17 08:57] Smurf-IV opened #99 "A proper "Status strip rendered ProgressBar" please ?"
here is a starting point:
https://stackoverflow.com/questions/20584132/change-the-color-of-a-toolstripprogressbar-without-disabling-the-xp-visual-style

[2019-09-18 06:34] Smurf-IV commented on #99
That sort of thing would be better in the extended kit, What this request is for, is the standard progress bar, but with the proper krypton rendering applied.

[2019-09-18 15:11] Wagnerp commented on #99
I think that this request really straddles both projects. A kryptonised version of the standard progress bar would work best in the standard toolkit as a 'basic' control.

[2019-09-19 06:42] Wagnerp opened #100 "[New Request] Progress Bar"
https://www.codeproject.com/Articles/48419/A-simple-custom-progressbar

[2019-09-20 09:30] Wagnerp commented on #7
https://github.com/JohannBlais/InformationBox

[2019-09-30 07:18] #97 closed

[2019-10-01 09:21] Wagnerp commented on #95
Hi @dquinter & @Smurf-IV

A package is now available to allow you to do this.

[2019-10-01 09:21] #95 closed

[2019-10-01 09:22] Wagnerp opened #101 "[New Feature]: Demos"
Build a demo application!

[2019-10-08 07:05] zenglanmu opened #102 "[Bug]: The signature of **RealGetWindowClass** function is wrong"
for example in `Source/Krypton Toolkit Suite Extended/Extended Controls/ExtendedToolkit/Utilities/Classes/WIN32.cs`, the signature of RealGetWindowClass is:
`public static extern int RealGetWindowClass(IntPtr hwnd, System.Text.StringBuilder pszType, int cchType);`

the type of parameter cchType should be uint instead of int, reference:

in my case, this would cause the "PInvokeImbance" warning, th

[2019-10-16 09:58] fitzsic opened #103 "[New Feature]"
Can you provide examples that support dpi-aware? Would be nice to see a project with good scaling for monitors 200%~300%

[2019-11-04 14:10] herledant opened #104 "KryptonInputBox problem"
Hello Wagnerp!

I found an error in 5.460.1180 that i can installed trough nuget package.

The characters are not visible when they are typing in the kryptonInputbox...
![2019-11-03_15h15_07](https://user-images.githubusercontent.com/9166449/68086464-bb9b5680-fe4c-11e9-993d-0c4d0bfb2d0b.png)

BR

[2019-11-04 14:12] Wagnerp commented on #104
Hi @herledant

I think that this might be a `standard toolkit` issue

[2019-11-05 19:27] #102 closed

[2019-11-19 17:35] Wagnerp opened #105 "[New Feature]: A Drop-in Run Dialog Replacement"
What it says with additional argument appending/locate functionality.

[2019-11-20 17:34] Wagnerp commented on #105
So far...

![image](https://user-images.githubusercontent.com/949607/69262748-e6f7a280-0bbb-11ea-89cd-6c4549c14e60.png)

[2019-11-20 19:18] Wagnerp commented on #47
http://frasergreenroyd.com/c-gui-make-a-child-window-stay-on-top-at-all-times/

[2019-12-06 19:17] dquinter opened #106 "Outlook grid: are there any examples or documentation of how to use it?"
I'm lost and I don't know how to use this control

Thanks!

[2019-12-07 19:30] Wagnerp commented on #106
Hi @dquinter

Thanks for the question, yes there is documentation from the original developer https://www.jdhsoftware.com/products/krypton-outlookgrid/documentation/

[2019-12-11 23:07] dquinter commented on #106
Thanks @Wagnerp!

[2019-12-11 23:07] #106 closed

[2019-12-12 09:13] Wagnerp commented on #106
That's ok

[2019-12-18 14:57] richterAl opened #107 "Feature: OutlookGridGroup Backcolor property"
Hello,

I would like to request a new feature for the OutlookGridGroup:
A **Backcolor** Property.

I have tried to implement such a feature. (see [https://github.com/richterAl/Krypton-Toolkit-Suite-Extended-NET-5.472/tree/feature/GroupBackColor](url))

But I think it is better to have the type PaletteBack instead of Color.
But I was not able to implement this property using this type.

[2019-12-18 16:11] Wagnerp commented on #107
Transferred

[2019-12-18 16:28] Wagnerp commented on #107
I think to use it `IPalette` needs to be used.

[2019-12-18 16:32] Wagnerp commented on #107
https://wagnerp.github.io/Krypton-NET-5.470/Help/Output/api/ComponentFactory.Krypton.Toolkit.PaletteBack.html

[2019-12-19 14:00] richterAl commented on #107
I solved my problem.
I didn't recognize the SetInherit member of PaletteBack.

[2019-12-19 14:00] #107 closed

[2019-12-29 10:49] Smurf-IV opened #108 "Why have the projects been named 2020?"
2019 was being used to reflect the fact that it required Visual Studio 2019.

So when did Visual Studio 2020 come out ?

This renaming is unnecessary.

[2019-12-29 10:52] Smurf-IV opened #109 "For each of the modules on the readme, describe what controls they have"
i.e. how can I tell which is the "Wizard" nuGet package ?

[2019-12-29 11:11] Smurf-IV opened #110 "Design / developer experience for the Wizard pages needs work"
Apart from the first page (Which is topmost) how does a designer add controls the to the other pages ?
Each page could be made a separate "User Control" so that the designer / developer can add controls on each page, and keep the functionality for that page within the page class that needs it.

[2019-12-29 18:43] #108 closed

[2019-12-30 09:28] Wagnerp commented on #110
Hi @Smurf-IV

Looking at the files, could we just convert both `StepWizardControl` & `WizardControl` over to Krypton?

[2019-12-31 09:29] Smurf-IV commented on #110
How far would you want to go with this transfer? (i.e. the CommandLinkButton, MessageBox. etc)

[2019-12-31 10:17] Wagnerp commented on #110
It can use the existing controls, the difficulty would be the back button, as it uses a blitting technique

[2020-02-14 23:00] ghost opened #112 "KryptonOutlookGridGroupBox_DragDrop & DragEnter Has no reference [BUG]"
**Describe the bug**
**KryptonOutlookGridGroupBox** class has the method **KryptonOutlookGridGroupBox_DragDrop** & **DragEnter** yet the constructor doesn't attach it to an event. So the whole drag&drop feature of this control doesn't work.

Like:

` this.DragDrop += new System.Windows.Forms.DragEventHandler(this.KryptonOutlookGridGroupBox_DragDrop);
this.DragEnter += new System.Windows.Forms.Drag

[2020-02-14 23:03] stctr commented on #112
Also i see i posted this on "Krypton-Toolkit-Suite-Extended-NET-5.470" but i use "Krypton-Toolkit-Suite-Extended-NET-5.472" but the codebase looks the same to me, just the .net framework is different. So this bug should apply to every .net framework. If it's a bug :D

[2020-10-13 15:17] Wagnerp commented on #112
Hi @ghost

I've transferred the issue to the new repo.